h1 {
    font-size: 20px;
    color:brown;
    text-align: center;
}

.grid-columns-row {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px;
    grid-gap: 10px;
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
}

.grid-footer-row {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: transparent;
    padding: 10px;
}

.grid-columns-row > div {
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-footer-row > div {
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;
}

.grid-footer-row > div {
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    padding: 20px 20px;
    font-size: 30px;
}

.grid-columns-row div p {
    font-family:'Times New Roman', Times, serif;
    color: black;
}